syntax: glob
.idea
*.war
*.iml
*.jar
*.log
*/log/*
*/log/*.log
.DS_Store
thumbs.db
Thumbs.db
node_modules/
build/
*/target/classes/*
*/target/test-classes/*
*/target/generated-sources/*
*/target/maven-archiver/*
*/target/surefire-reports/*
*/target/maven-status/*
*/target/*.jar
*/target/washington/*
*/target/lib/*
*/target/*-webapp/*
*/target/config/*
*/target/surefire/*
*/target/*.xml
*/target/*.conf
*/target/MANIFEST.MF
*/target/athena-server/WEB-INF/*
target/MANIFEST.MF
*/artifacts/*
.git/*
*.versionsBackup
.gradle/
classes/
*/build/*
.project
.settings
.classpath
athena-provider/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
athena-provider/target/m2e-wtp/web-resources/META-INF/maven/athena/athena-provider/pom.xml
athena-provider/target/m2e-wtp/web-resources/META-INF/maven/athena/athena-provider/pom.properties
syntax: regexp
^product\.properties$
